In [1]:
import geopandas
import numpy as np
import random
import pandas as pd

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
import geopandas

:

In [ ]:
info = [
    (37.5665, 126.9780),  # 서울
    (35.1796, 129.0756),  # 부산
    (35.8714, 128.6014),  # 대구
    (37.4563, 126.7052),  # 인천
    (35.1595, 126.8526),  # 광주
    (36.3504, 127.3845),  # 대전
    (35.2382, 128.6924),  # 창원
    (37.2911, 127.0089),  # 수원
    (37.4563, 126.7052),  # 고양
    (37.2636, 127.0286),  # 용인
]

data = pd.DataFrame()